body {
    background-color: #242229;
    display: flex;
    margin: 0px;    
    
}

.channels {    
    width: 20%;
    height: 100vh;
    background-color: #19171D;   
    border-right: 1px solid #686470;      
    
}

#listchan {
    color: #757477;
    list-style: none;
}

.chatContainer {
    background-color: #242229;
    display: flex;
    flex-direction: column;
    align-self: flex-end;  
    

}

#msg {
    color: whitesmoke;
    margin-top: 27px;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 0;
    list-style: none;
}



.newMessage {
    background-color: #222529;
    border-color: #747779;
    margin: 27px;
    
}

#newM {
    background: transparent;
    width: 80vw;    
    }
::placeholder {
    color: #656769;
}

button {
    position: absolute;
    right: 25px;
}
