body{
    background-color: #242229;
    display: flex;
    margin: 0px;    
    
}

.channels{    
    width: 20%;
    height: 100vh;
    background-color: #19171D;   
         
    
}

#listchan {
    color: #757477;
}

.chatContainer {
    background-color: #242229;
    

}

#msg {
    color: whitesmoke;
}



.newMessage {
    background-color: #222529;
    border-color: #747779;
    
}

#newM {
    background: transparent;
    
    }
::placeholder{
    color: #656769;
}
